input::-webkit-input-placeholder{
    color: blue;

}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.card {
    margin-bottom: 2rem;
}

.text-white {
    color: #FCF8DC
}